body {
    margin: 0;
}

h2 {
    font-size: 2.3vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 1%;
    background: rgb(85, 153, 255);
}

strong,
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong {
    font-size: 1.2vw;
}

p {
    font-size: 1vw;
}