<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreMaaP - Prescrever Receita</title>
    <link rel="stylesheet" href="../../static/header.css">
</head>

<body>

    <header>
        <div class="logo">
            <img src="../../static/assets/HomePage_img/logo.svg" alt="Logo">
        </div>
        <ul class="fontText">
            <li><a href="">MEUS DADOS</a></li>
            <li><a href="/pacient/all">PACIENTES</a></li>

            <li class="profile dropdown">
                <a href="javascript:void(0)" class="dropbtn">PERFIL</a>
                <div class="dropdown-content">
                    <a href="#">Sair</a>
                </div>
            </li>
        </ul>
    </header>
</body>

</html>