<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div id="userConteiner">
            <p><strong>Nome:</strong> <span data-th-text="${user.firstName}"></span> <span data-th-text="${user.lastName}"></span></p>
            <p><strong>RG: </strong> <span data-th-text="${user.rg}"></span></p>
            <p><strong>CPF: </strong> <span data-th-text="${user.cpf}"></span></p>
            <p><strong>CNS: </strong> <span data-th-text="${user.cns}"></span></p>

        </div>

        <div id="pacienteConteiner">
            <p><strong>Data de nascimento: </strong> <span data-th-text="${pacient.dateBirth}"></span></p>
            <p><strong>Tipo sanguineo: </strong> <span data-th-text="${pacient.tipoSanguineo}"></span></p>
            <p><strong>Doenças previa:</strong> <span data-th-text="${pacient.doencasPrevias}"></span></p>
            <p><strong>Alergias: </strong> <span data-th-text="${pacient.allergies}"></span></p>
        </div>

    </div>
</body>
</html>